.container {
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
      padding: 8px 16px;
      .information {
        display: flex;
        flex-direction: column;
      }
      display: flex;
      flex-direction: row;
      gap: 16px;
      img {
        align-self: center;
        width: 150px;
        height: 100%;
        object-fit: contain;
      }
    }
  }
  .date {
    font-size: 0.8rem;
    color: #aaa;
  }

  .separator {
    margin-top: 16px;
    height: 1px;
    width: 90%;
    background: #333;
    align-self: center;
  }
}
